.title {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: lightseagreen;
  margin-bottom: 50px;
}

.h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  color: darkblue;
  margin-bottom: 50px;
}
